# Ide
**/.zed
**/.vs
**/.vscode
**/.idea

# Environment
**/.env.dev
**/.env.local
**/.env.prod

# git
**/.git
**/.gitignore

#
**/.project
**/.settings
**/.toolstarget
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml

**/.dockerignore
**/docker-compose*
**/Dockerfile*

**/bin/
**/obj/
**/out/
**/.dotnet/
**/.packages/
**/.tools/

# User-specific files
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates

# Build results
**/artifacts/
**/.idea/
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/bld/
**/[Bb]in/
**/[Oo]bj/
**/msbuild.log
**/msbuild.err
**/msbuild.wrn
**/msbuild.binlog
**/.deps/
**/.dirstamp
**/.libs/
**/*.lo
**/*.o


*.sln
!LICENSE
!README.md
!README.docker.md